# Discord robot token and message commands prefix section.
token="MTI0NjQ2NjM5Mjg3MDYyMTIzNg.GmwHAk.Tp1kZjWUOVEZV89SFsLo6naq6XV6Oi5I45-IO4"
prefix="."

# Discord webhook url for debug all error in embed message section.
webhook_url=""
webhook_username=""
webhook_avatar=""

# Discord server channels Id and main server Id section.
server_support=""
support_server_id=""
status_channel_id=""
report_channel_id=""
#  * @copyright
#  * Coded by Sobhan-SRZA (mr.sinre) | https://github.com/Sobhan-SRZA
#  * @copyright
#  * Work for Persian Caesar | https://dsc.gg/persian-caesar
#  * @copyright
#  * Please Mention Us "Persian Caesar", When Have Problem With Using This Code!
#  * @copyright